body {
  background-color: DarkOrange;
  font-family: Georgia, serif;
  margin-left: 600px;
  margin-right: 600px;
  margin-bottom: 200px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff3300;
}

.e {
  font-size: 18px;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  border-right:1px solid red;
}

.link:hover:not(.active) {
  background-color: #990000;
}

.active {
  background-color: #800000;
}

h1 {
  margin-top: 50px;
}

p {
  text-indent: 50px;
  font-size: 18px;
}

.image1 {
  float: top;
  margin: 5px;  
  width: 300px;
  height: 100px;
}

.image2 {
  float: bottom;
  margin: 5px;  
  width: 541px;
  height: 320px;
}