body {
  background-color: #DEFBA9;
  font-family: Georgia, Helvetica, serif;
}

body a:hover {
  color: #5870fc
}

p {
  color: #7D8FFB;
  font-size: 20px;
}

h2 {
  text-align: center
  color: #3450F7;
  text-decoration: underline;;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  display: inline-flex;
  color: #3450F7;
  text-align: center;
  padding: 0px 0px;
  background-color: #09C813;
}

li a:hover {
  background-color: #080;
}

nav {
  text-align: center
}
