body {
  background-color: #DEFBA9;
  font-family: Georgia, Helvetica, serif;
}

p a {
  color: #7D8FFB;
}

h2 {
  color: #3450F7;
  border-top: 1px solid #162AA2;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #09C813;
  margin: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: #3450F7;
  text-align: center;
  padding: 16px 16px;
}
