body {
  background-color: #DEFBA9;
  font-family: Georgia, Helvetica, serif;
}

p a:hover {
  color: #5870fc
}

p {
  color: #7D8FFB;
  font-size: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  text-align: center
  color: #3450F7;
  text-decoration: none;
  font-size: 50px
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  display: inline-flex;
  color: #3450F7;
  text-align: center;
  padding: 0px 0px;
  background-color: #09C813;
  font-size: 60;
}

li a:hover {
  background-color: #080;
}

img {
  float: left;
  height: 250px;
  background-color: #DEFBA9;
}

nav {
  text-align: center
}
